*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #080808;
    color:#fff;
}
#header{
    width: 100%;
    height: 180vh;
    background-image: url("./img/me.png");
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 140px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 5px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    position: relative;
}
/* for Home, Portfolio, services, ETC */
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f; 
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}

/* for headder My name*/
.header-text{
    margin-top: 20%;
    font-size: 30px;
    color: #ffffff;
    text-decoration: none;
}
.header-text h1{
    font-size: 45px;
    margin-top: 20px;
}
.header-text h1 span{
    color: #ff004f;
}
/* -------about-------------*/
/* This code for About Me */
#about{
    /* font-size: 48px; */
    padding: 80px 0;
    color: #ababab;
}
/* this code for 2nd pic */
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/* #about h1{
    width: 100%;
    height: 10000px;
    background-image: url("img/Collage\ pic.png");
    background-size: cover;
    background-position: left;
} */

/* This code is used for 2nd photo Size*/
.about-col-1{
    flex-basis: 35%;
}

/* This code is used for 2nd photo Rounding */
.about-col-1 img{
    width: 100%;
    border-radius: 40px;
}
/* This code is used for About me sizeing */
.about-col-2{
    flex-basis: 60%;
}

/* This code is used for About Me Colour & size */
.sub-title{
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}
/* This code is used for Sizeing Skills, experience, education */
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
    p {
  font-weight: bold; /* Options: normal, bold, lighter, 100-900 */
  font-size: 20px;
}

p {
    font-family: "Arial Black", sans-serif; /* Specify a font stack */
  }
}
/* for sizeing Skill to Experience to Education */
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
/* for Skills Experience & Education Under line Pink colour */
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -4px;
    transition: 0.5s;
}

/* for Skills Experience & Education Under line Pink colour Sizeing */
.tab-links.active-links::after{
    width: 97%;
}

/* for UI/UX, Web Devlopment, App Devlopment Bottom Sizeing */
.tab-contents ul li{
    list-style: none;
    margin: 40px 0;
}
/* for UI/UX, Web Devlopment, App Devlopment Letter font Sizeing & Color*/
.tab-contents ul li span{
    color: #b54769;
    font-size: 40px;
}
/* Hide all the Tab content means-Skills, Experience, Education */
.tab-contents{
    display: none;
}
/* Block Experience & Education only Show Skills */
.tab-contents.active-tab{
    display: block;
}

/* .....................services........................ */
#services{
    padding: 30px 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /* display: flex; */
  /* justify-content: space-between; */
    font-size: 50px;
    /* text-align: center; no can add */
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: #1f2ca0;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background: #ff004f;
    transform: translateY(-10px);

}

/* ...............Portfolio.................. */
#portfolio{
    padding: 50px 0; /* o for right side*/

}
.work-list{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   grid-gap: 40px;
   margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
/* .work h3{  */
    /* for social media, bhakta dasia pitha, other Letter size */
    /* padding: 40px; */
    /* font-size: 60px;
    font-weight: 1000;
    margin-bottom: 30px; */
/* } */
.work p{
    /* for Bottom of Social media, Bhakta Dasia Pitha, other Letter size */
    font-size: 20px;
    font-weight: 600;
      
}
/* for my work Letter total size editing */
.work a{  
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 40px;
    background: #fff;
    width: 60px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
}
/* .work-list img{
        width: 20%;
        border-radius: 100px;
        margin: 50px 0 50px;
        grid-gap: 100px;
} */
/* .layer{
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0.6),#ff004f);
    border-radius: 10px;
    position:absolute;
    left: 50;
    bottom: 50;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
}        */
 /* Edit by sunil */
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    
    /* for this background up & Down*/
    transition: height 0.5s;  

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}

}
.work: :hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    font-size: 15px;
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 30px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}
.btn:hover{
    background: #ff004f;
}

/* ---------------Contacts--------------- */
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
    /* font-size: 30px; */
}
.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);

}
.btn.btn2{
    display: inline-block;
    font-size: 10px;
    background: #ff004f;
}
.contact-right form{
    height: auto;
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 10px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 14px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    font-size: 20px;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
    border-top: 4px solid white;
}
.hr{
    height: 30px;
    width: 200px;
    margin-top: 30px;
    /* padding: 0px 0; */
}

 /* --------------------CSS for small screen------------------------ */
 nav .fas{
    display: none;
 }
 @media only screen and (max-width: 600px){
    #header{
        background-image: url(img/My\ pic\ for\ mobile\ back.png);
    }
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fas{
        display: block;
        font-size: 20px;
     }
     nav ul{
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -165px;
        width: 165px;
        height: 103.5vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
     }
     nav ul li{
        display: block;
        margin: 25px;
     }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 30px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 4px;
        margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 14px;
        margin-top: 10px;
        padding: 130px 0;
    /* width: 100%;
    font-size: 20px;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 10px; */
    /* border-top: 4px solid white; */
    }
 }
 #msg{
    color: #61b752;
    margin-top: -40px;
    display: block;
 }